# Ignore everything in the 'env' directory
env/

# Ignore all notebook files
*.ipynb

# Ignore all checkpoint files created by Jupyter
*.ipynb_checkpoints/

# Ignore all .pyc files (compiled Python files)
*.pyc

# Ignore all .pyo files (optimized Python files)
*.pyo

# Ignore all .pyd files (Python script made into Windows dll)
*.pyd

# Ignore all .so files (shared object library)
*.so

# Ignore all .DS_Store files (Mac OS folder settings)
.DS_Store

checkpoint-*/

Results/
checkpoint-2676/config.json
checkpoint-2676/model.safetensors
checkpoint-2676/optimizer.pt
checkpoint-2676/rng_state.pth
checkpoint-2676/scheduler.pt
checkpoint-2676/special_tokens_map.json
checkpoint-2676/tokenizer_config.json
checkpoint-2676/trainer_state.json
checkpoint-2676/training_args.bin
checkpoint-2676/vocab.txt
checkpoint-804/config.json
checkpoint-804/model.safetensors
checkpoint-804/optimizer.pt
checkpoint-804/rng_state.pth
checkpoint-804/scheduler.pt
checkpoint-804/special_tokens_map.json
checkpoint-804/tokenizer_config.json
checkpoint-804/trainer_state.json
checkpoint-804/training_args.bin
checkpoint-804/vocab.txt
Results/checkpoint-2676.zip
