transformers >= 4.34, < 4.36
datasets>=2.13 ,<2.14
torchinfo >= 1.8, < 1.9
accelerate >= 0.24, < 0.25
peft >= 0.6, < 0.7
torch>=2.1 , <2.2
matplotlib>=3.8 , <3.9
seaborn >=0.13 , <0.14
tqdm >=4.66 ,<4.67